.email {
    display: flex;

}

button {
    cursor: pointer;
    outline: none;
}

/* FILTER */

.email .filter {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 2.3125rem;
}

.email .filter #search {
    border: 2px solid lightgray;
    font-size: 1.1rem;
    border-radius: 2em;
    height: 36px;
    padding-left: 12px;
}

.email .filter input:focus {
    outline: 2px solid rgb(180, 180, 180);
}

.email .filter input:last-child {
    outline: none;
}

/* LIST */

.email li {
    list-style: none;
}

/* .email .preview li {
    width: 15%;
} */

.email .list-header li:first-child {
    width: 17%;
}

.email .list-header li:last-child {
    width: 17%;
    right: 1.5%;
}

.email .list-header li:not(:first-child):not(:last-child) {
    width: 66%;
}

.email .list li:first-child {
    width: 17%;
}

.email .list-header li:not(:first-child) {
    font-weight: 600;
    cursor: pointer;
}

.email .list .subject {
    width: 66%;
    text-align: initial;
}

.email .list .sent-at {
    width: 17%;
    padding-right: 4%;
}

.email .list-container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1em;
}

.email .list-container a:hover {
    background-color: rgba(0, 0, 0, 0.096);
}



.email .list-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.email .list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.email .list a:first-child {
    border-top: 2px solid rgb(208 208 208 / 40%);
}

.email .preview {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 1.975rem;
    border-bottom: 1px solid rgb(84 84 84 / 40%);
}


.email .features {
    width: 40px;
    position: absolute;
    display: flex;
    right: 2%;
}

.email .features span {
    font-size: 1.3rem;
}

.email .features a {
    font-size: 1.3rem;
}

.email .features span:active {
    color: red;
}

.email a {
    color: black;
    text-decoration: none;
}

.email a:visited {
    color: black;
}

.email .read {
    background-color: rgba(0, 0, 0, 0.2)
}

.email .read:focus {
    background-color: rgba(0, 0, 0, 0.2)
}

.email .show-modal {
    position: unset !important
}

.email .composer-container {
    background: rgb(0 0 0 / 30%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.email .composer {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 10px;
    z-index: 1;
    background-color: #404040;
    padding: 7px 0;
    border-radius: 1em 1em 0 0;
}

.composer form {
    display: flex;
    flex-direction: column;
}

.composer form input {
    height: 30px;
}

.composer .composer-buttons {
    display: flex;
    justify-content: space-between;
}

.composer button {
    width: 50px;
    border: 0;
    background-color: #404040;
    border-radius: 2em;
    color: white;
    font-size: 1rem;
    padding: 5px;
}

.composer button:last-child {
    width: 107px;
}

/* ASIDE NAV */

.aside-nav {
    width: 20%;
    font-family: 'Roboto', sans-serif;
}

.aside-nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 1.6875rem;
}

.aside-nav ul li {
    padding: 1rem;
    cursor: pointer;
    color: #202124;
}

.aside-nav .read-count {
    font-size: 1rem;
    font-weight: 600;
    cursor: unset;
}

.email .aside-nav ul li:not(:first-child) {
    width: 100%;
    margin: 0.5em;
    border-radius: 0 2em 2em 0;
}

.email .aside-nav ul li:not(:first-child):hover {
    background-color: rgba(241, 243, 244, 255);
}

.email .aside-nav ul li:first-child {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 2em;
    display: flex;
    align-items: inherit;
    padding: 0 24px 0 0;
    transition: box-shadow .08s
}

.email .aside-nav ul li:first-child::before {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: block;
    height: 48px;
    min-width: 56px;
}

.aside-nav ul li:first-child:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%),
        0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: #fafafb;
}

.aside-nav ul li:first-child:active {
    background-color: #f1f3f4;
}

/* DETAILS */

.email .mail-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 59%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 5px;
    padding: 20px;
}

.mail-details pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.mail-details li:first-child {
    font-size: 1.4rem;
}

.mail-details .date-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #c1c1c1;
    padding-bottom: 12px;
}

.date-delete span {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 2em;
    padding: 7px 10px;
    cursor: pointer;
    transition: box-shadow .08s
}

.date-delete span:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%),
        0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: #fafafb;
}

/* REPLY */

.mail-details.reply {
    height: 500px;
}

.mail-details.reply form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mail-details.reply form li:first-child {
    width: 100px;
}

.mail-details.reply li:last-child {
    height: 300px;
    width: 100%;
}

.mail-details.reply textarea {
    height: 300px;
    width: 100%;
}

.mail-details.reply button {
    width: 80px;
    background-color: #404040;
    border-radius: 2em;
    color: white;
    font-size: 1rem;
    padding: 2px;
}

@media (max-width: 920px) {
    .email .list-header {
        display: none;
    }

    .email .preview {
        height: 5rem;
        flex-direction: column;
        justify-content: center;
        padding-left: 2%;
    }

    .email .features {
        right: 5%;
        top: 19px;
    }

    .email .name {
        align-self: flex-start;
        text-align: initial;
    }

    .email .subject {
        align-self: flex-start;
    }

    .email .list .sent-at {
        align-self: flex-end;
        width: unset;
    }
}

@media (max-width:795px) {
    .email .aside-nav ul li:first-child {
        padding: 0 .625rem 0 0;
    }

    .email .composer-container {
        position: fixed;
    }

    .email .composer {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 416px;
        height: 418px;
        padding: 15px;
        transform: translate(-50%, -50%);
        border-radius: 1em;
    }

    .composer textarea {
        width: 100%;
        height: 250px;
    }
}

@media (max-width:690px) {
    .email {
        flex-direction: column;
    }

    .email .filter {
        margin: 0;
    }

    .aside-nav ul {
        flex-direction: row;
        width: 100vw;
        padding: 0;
        padding-left: 1.875rem;
    }

    .email .aside-nav ul li:not(:first-child) {
        border-radius: 0 0 0 0;
    }

    .aside-nav ul li {
        padding: 0;
    }

    .email .mail-details {
        width: 80%;
        align-self: center;
    }

}

@media (max-width:544px) {
    .email .filter {
        margin-bottom: 15px;
    }
}

@media (max-width:460px) {

    .email .composer {
        width: 344px;
        height: 395px;
    }

    .composer textarea {
        height: 238px;
    }

    .email .mail-details {
        width: 97%;
        align-self: center;
        height: 340px;
    }
}


@media (max-width:315px) {
    .email .filter {
        justify-content: space-evenly;
        height: 110px;
        flex-direction: column;
    }

    .aside-nav ul {
        padding-left: 0;
        width: unset;
    }

    .email .preview {
        height: 8.4rem;
        justify-content: space-around;
    }
}