



.notes-container {
    color: rgb(37, 53, 53);
    display: grid;
    padding: 60px;
    width: 100%;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 40px);
    justify-content: center;
    /* grid-auto-flow: dense; */

}



.note-txt {
    background-color: rgb(175, 240, 234);
    border: 1px solid gray;
    border-radius: 5px;
    grid-column: auto / span 5;
    grid-row:  1/2;
    overflow-wrap: break-word;
   

}

.note-img {
    background-color: rgb(181, 207, 194);
    border: 1px solid gray;
    border-radius: 5px;
    grid-column: auto / span 4;
    grid-row: 2/3;

}

.note-img h3 {
    display: inline;
}

.note-img img {
    width: 100%;
    max-height: 250px;
    max-width: 250px;
}

.note-video {
    background-color: rgb(212, 105, 66);
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    grid-row: 3/4;
    grid-column: auto / span 5;
}

.note-audio {
    background-color: rgb(172, 241, 103);
    border: 1px solid gray;
    border-radius: 5px;
    grid-column: auto / span 5;
}

.note-todos{
    background-color: rgb(201, 198, 250);
    border: 1px solid gray;
    border-radius: 5px;
    grid-column: auto / span 5;

    overflow-wrap: break-word;
}


.keep-btn {
    background-color: lightblue;
    border-radius: 5px;
}



.keep-btn.delete {
    background-color: rgb(255, 72, 72);
}

#image-picker {
    display: none;
}

audio{
    width: 100%;
        width: 200px;
        max-height: 150px;
        margin-bottom: 20px;
        margin-left: 15px;
      
}

.keep-delete {
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(250, 101, 101);
}

.keep-delete:hover {
    cursor: pointer;
    opacity: 0.8;

}

.keep-input {
    border: 2px solid rgb(180, 180, 180);
    border-radius: 20px;
    height: 40px;
}

 .keep-delete.audio {
margin-bottom: 10px;
} 

.h3-keep {
    margin: 5px 0px;
}

@media (max-width: 540px) {
    .notes-container {
        display: flex;
        flex-wrap: wrap;
    }

    .notes-container >* {
        margin: 20px;
    }

    .note-txt{
        width: 100%;
        width: 200px;
        max-height: 100px;
    }

    .note-video {

        width: 100%;
        width: 200px;
        max-height: 200px;
}
}