@import './keep/keep.css';
@import './email/email.css';
@import './book/book.css';

html * {
    box-sizing: border-box;
    font-size: .875rem;
    letter-spacing: .25px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    
}

/* HELPERS */

/* NAV BAR */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(250, 238, 238);
  
}

.nav-container {
    margin-right: 170px;
}

nav {
    align-content: center;
    /* margin-right: 170px; */
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
    color: #5f6368;
}

.logo {
    font-family: Arial;
    text-decoration: none;
    font-size: 1.5rem;
    color: #383f47;
    margin-left: 100px;
}

.nav-links {
   
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
    color: #5f6368;
}


/* FOOTER */
footer {
    background-color: rgb(195, 238, 195);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 5px;
}

@media (max-width: 840px) {
.app-header {
    justify-content: space-between;
}
}
@media (max-width: 540px) {

nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: rgb(218, 217, 214);
    width: 200px;
    z-index: 2;
    right: 0;
    top: 60px;
    height: 50vh;   
    padding: 10px;
    opacity: 0.9;
    transform: translateX(100%);
    transition: transform .4s, box-shadow .4s;
   
}

.menu-btn {
    display: block;
    height: 60px;
    background-color: rgb(252, 247, 232);
    border-radius: 10px;
}

.open-menu  {
    transform: translateX(0);
    box-shadow: -3px 3px 3px 0px;
}
}
/* USER MSG */

.user-msg {
    position: fixed;
    padding: 10px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
}

.success {
    background-color: rgba(119, 243, 119, 0.829);
}

.error {
    background-color: red;
}