@import './keep/keep.css';
@import './email/email.css';

html *{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    
}

/* HELPERS */

/* NAV BAR */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(250, 238, 238);
   
}

nav {
    align-content: center;
    margin-right: 170px;
}

.logo {
    font-family: Arial;
    text-decoration: none;
    margin-left: 90px;
    color: #383f47;
}

.nav-links {
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
    color: #5f6368;
}


/* FOOTER */
footer{
    background-color: rgb(195, 238, 195);
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
    padding: 5px;
}


@media (max-width: 540px) {
.nav-links {
    position: fixed;
    
    top: 60px;
    flex-direction: column;
    height: 50vh;
    
    padding: 10px;
    opacity: 0.9;
    width: 200px;
    z-index: 2;
    transform: translateX(100%);
    transition: transform .4s, box-shadow .4s;
   
}

}